# Byte-compiled / cache
__pycache__/
*.py[cod]

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
venv/
.env/

# IDE / OS files
.vscode/
.idea/
.DS_Store

# Python cache folders inside src
**/__pycache__/
